extends layout
block content
    header.card-header
        h4.card-title Welcome 
    div.form-row
        div.col.form-group
            a(href='/employee/createEmployee')  Add New Employee
        div.pull-right
        a(href='/order')  View Order List
    table.table
        thead.thead-dark
            tr
                th Full Name 
                th NIN
                th Gender
                th Past incidences
                th Role
                th
                th
        tbody
            if employees.length
            each employee in employees
                tr
                    td #{employee.lastname +' '+ employee.firstname}
                    td #{employee.nin}
                    td #{employee.gender}
                    td #{employee.pastincidence}
                    td #{employee.role}
                    td
                        a(href='/employee/update/'+employee._id) Update
                    td
                        form(method="post" action='/employee/delete')
                            input(type="hidden", placeholder="", name="id", value=employee._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
    div.form-row
        div.pull-right
            a(class='button', href='/') Home Page
        